
body {
    background-color: #080000 !important;
    color: #ffffff !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}


.swagger-ui {
    background-color: #120026 !important;
    color: #ffffff !important;
}
/* For Swagger UI customization Wont change for some reason*/