/* Front Page to load into */
* {
    background-color: rgb(3, 149, 252);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: rgb(104, 4, 236);
    margin-top: 20px;
    display: flex;
    padding: 20px;
    font-family: Arial, sans-serif;
    justify-content: center;
    font-size: 80px;
}
