* {
    background-color: rgb(3, 149, 252);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: rgb(104, 4, 236);
    text-align: center;
    margin-top: 20px;
    display: flex;
    padding: 20px;
    font-family: Arial, sans-serif;
    justify-content: center;
    font-size: 36px;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 32px;
    background-color: rgb(0, 2, 2);
    color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}
