* {
    background-color: rgb(56, 172, 172);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: rgb(254, 254, 254);
    text-align: center;
    display: flex;
    padding: 20px;
    font-family: Arial, sans-serif;
}